<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">&copy; 
                <span id="copyright">
                    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                </span> 
                DOLAP
            </p>
            <p>
                <a href="https://www.linkedin.com/company/dolap-workshop/" target="_blank"><img src="img/linkedin.jpg" alt="Find us on LinkedIn" width="30" height="30"></a>
            </p>
        </div>
    </div>
</footer>