---
---
// Import Main CSS file from theme
@import "main";

/* $primary: #191EA8; */
$primary: #3273dc;

.footer {
    padding-bottom: 3rem !important;
}

.navbar-item ,
.menu-label ,
.menu-list a{
    font-weight: bold;
}
.navbar-item img {
    max-height: 3rem !important;
}

.content img {
    max-width: 18em;
}

#navbar-logo {
    height: 36px !important;
}

#index-logo {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.is-danger {
    margin-bottom: 15px;
}

.callout-icon {
    width: 8rem;
    height: 8rem;
}

.callout-icon img {
    max-width: 100%;
    
}



.content h1:not(:first-child) { 
 padding-top: 3.5rem;
}

.content h2:not(:first-child) ,
.content h3:not(:first-child) ,
.content h4:not(:first-child) ,
.content h5:not(:first-child) ,
.content h6:not(:first-child)  { 
 padding-top: 1.5rem;
}
